body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #dados {
    margin: 20px;
  }
  
  #dados p {
    margin-bottom: 10px;
  }
  
  #dados strong {
    font-weight: bold;
  }
  
  #temperatura,
  #umidade {
    font-size: 18px;
    color: #007bff;
  }
  